<h1>RESOURCES PAGE</h1>

<h3>Guides</h3>
<p>How to self custody</p>
<p>How to self custody</p>
<hr>
<h3>Websites</h3>
<p>Hope.com</p>
<p>bitcoin-resources.com</p>
<hr>
<h3>Articles</h3>
<p>World Bank and IMF</p>
<p>Shelling Out</p>
<p>Everyone is a Scammer</p>
<hr>
<h3>Books</h3>
<p>Price of Tomorrow</p>
<p>The Creature from Jekyll Island</p>
<p>Bitcoin Standard</p>
<hr>